<wrapper>
	<%= image_tag('groonu_logo.jpg',:class => 'top_right') %>
	<div id="links" class="bottom_left">
		<div id="link_container">
			<div class="link"><% image_tag('bio_link.jpg',:id => 'bio_link') %>
			</div>
			<div class="link" id="work_link">
			</div>
			<div class="link" id="contact_link">
			</div>
			<div class="clear">
			</div>
		</div>
	</div>
</wrapper>
